---
import Layout from '../../layouts/Layout.astro';
import Image from '../../components/CloudImage.astro';
import JournalBlocks from '../../components/JournalBlocks.astro';
import { getEntries } from '../../components/EntriesFetch.astro';

export async function getStaticPaths() {
  let entriesQuery = `{
    entries(site: "personal", section: "personalJournal", type: "journal_writing") {
      id
      title
      slug
      postDate
      ... on journal_writing_Entry {
        image {
          ... on personal_Asset {
            alt
            url
            title
            focalPoint
            width
            height
            captionSimple
          }
        }
        category(status: ["live"]) {
          title
          status
          slug
        }
        journalContent {
          ... on image_Entry {
            typeHandle
            image {
              ... on personal_Asset {
                alt
                url
                title
                focalPoint
                width
                height
                captionSimple
              }
            }
          }
          ... on textSection_Entry {
            typeHandle
            richText
            blockId
            sectionClasses
          }
          ... on embed_Entry {
            typeHandle
            embed
            blockId
            sectionClasses
          }
        }
      }
    }
  }`;
  let entries = await getEntries(entriesQuery);
  return entries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry }, // Pass the full entry data as props
  }));
}

const { entry } = Astro.props;
const dateObject = new Date(entry.postDate);
const formattedDate = dateObject.toLocaleDateString('en-US', {
  year: 'numeric',
  month: 'long',
  day: 'numeric'
});
---

<Layout title={'Matt Soria: ' + entry.title}>
  <div class="container">
    <h1 class="text-h1">{entry.title}</h1>
    <div class="article-meta">
      <time datetime={ formattedDate } class="text-label">{ formattedDate }</time>
      {entry.category.length > 0 && (
        <a href={ 'journal/category/' + entry.category[0].slug } class="pill">{entry.category[0].title}</a>
      )}
    </div>

    <div class="entry-content">
      {entry.image[0] && (
        <figure class="entry-image">
          <Image
            url={entry.image[0].url}
            width={entry.image[0].width}
            height={entry.image[0].height}
            focalPoint={entry.image[0].focalPoint}
          />
        </figure>
      )}

      { entry.journalContent.map((block) => (
        <JournalBlocks block={block} />
      ))}
    </div>
  </div>
</Layout>

<style scoped>
  .article-meta {
    margin-block-start: var(--space-2xs);
  }

  .entry-image {
    position: relative;
    border-radius: var(--border-radius);
  }
  .entry-content {
    margin-block-start: var(--space-l);
  }
</style>