---
import Layout from '../../layouts/Layout.astro';
import Image from '../../components/CloudImage.astro';
import ArrowLeft from '../../assets/arrow-left.svg';
import JournalBlocks from '../../components/JournalBlocks.astro';
import { getEntries } from '../../utils/craftApi';
import { JOURNAL_ENTRY_FULL_QUERY } from '../../utils/queries';

export async function getStaticPaths() {
  const entries = await getEntries(JOURNAL_ENTRY_FULL_QUERY);
  return entries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const dateObject = new Date(entry.postDate);
const formattedDate = dateObject.toLocaleDateString('en-US', {
  year: 'numeric',
  month: 'long',
  day: 'numeric'
});
---

<Layout title={'Matt Soria: ' + entry.title}>
  <div class="container">
    <header>
      <div class="breadcrumbs"><a href="/journal" class="pill"><ArrowLeft />journal</a></div>
      <h1 class="text-h1">{entry.title}</h1>
      <div class="article-meta">
        <time datetime={ formattedDate } class="text-label">{ formattedDate }</time>
        { entry.categories.length > 0 && (
          entry.categories.map((category) => (
            <a href={ '/journal/category/' + category.slug } class="pill">{category.title}</a>
          ))
        )}
      </div>
    </header>

    <div class="entry-content">
      {entry.journalImage[0] && (
        <div class="noisy-border">
          <figure class="entry-image">
            <Image
              url={entry.journalImage[0].url}
              width={entry.journalImage[0].width}
              height={entry.journalImage[0].height}
              focalPoint={entry.journalImage[0].focalPoint}
            />
          </figure>
        </div>
      )}

      { entry.note && (
        <div class="entry-note">
          <div class="rich-text" set:html={entry.note.rawHtml} />
        </div>
      )}

      { entry.journalContent.map((block) => (
        <JournalBlocks block={block} />
      ))}
    </div>
  </div>
</Layout>

<style scoped>
  .container {
    display: grid;
    align-items: start;
    gap: var(--spacing-l);
    padding-inline: var(--site-gutter);

    @media screen and (min-width: 1024px) {
      grid-template-columns: 1fr 2fr;
    }
  }

  header {
    position: relative;

    > * + * {
      margin-block-start: var(--spacing-s);
    }

    @media screen and (min-width: 1024px) {
      position: sticky;
      inset-block-start: var(--spacing-xl);

      h1 {
        margin-block-start: 0;
      }

      .breadcrumbs {
        position: absolute;
        inset-inline-start: 0;
        transform: translateY(-100%);
        inset-block-start: calc(var(--spacing-s) * -1);
      }
    }
  }

  .entry-image {
    position: relative;
    border-radius: var(--radius);
    margin-block-end: var(--spacing-l);
  }

  .entry-note {
    max-width: 65ch;
    color: var(--color-text);
    padding: var(--spacing-s);
    border-radius: var(--radius);
    margin-block-end: var(--spacing-l);
    background-color: var(--color-gray);

    * {
      font-size: var(--step--1);
    }
  }
</style>