---
import Layout from '../../layouts/Layout.astro';
import Image from '../../components/CloudImage.astro';
import JournalBlocks from '../../components/JournalBlocks.astro';
import { getEntries } from '../../utils/craftApi';
import { JOURNAL_ENTRY_FULL_QUERY } from '../../utils/queries';

export async function getStaticPaths() {
  const entries = await getEntries(JOURNAL_ENTRY_FULL_QUERY);
  return entries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry }, // Pass the full entry data as props
  }));
}

const { entry } = Astro.props;
const dateObject = new Date(entry.postDate);
const formattedDate = dateObject.toLocaleDateString('en-US', {
  year: 'numeric',
  month: 'long',
  day: 'numeric'
});
---

<Layout title={'Matt Soria: ' + entry.title}>
  <div class="container">
    <header>
      <div class="breadcrumbs"><a href="/journal" class="pill">&larr;journal</a></div>
      <h1 class="text-h1">{entry.title}</h1>
      <div class="article-meta">
        <time datetime={ formattedDate } class="text-label">{ formattedDate }</time>
        {entry.category.length > 0 && (
          <a href={ '/journal/category/' + entry.category[0].slug } class="pill">{entry.category[0].title}</a>
        )}
      </div>
    </header>

    <div class="entry-content">
      {entry.journalImage[0] && (
        <div class="noisy-border">
          <figure class="entry-image">
            <Image
              url={entry.journalImage[0].url}
              width={entry.journalImage[0].width}
              height={entry.journalImage[0].height}
              focalPoint={entry.journalImage[0].focalPoint}
            />
          </figure>
        </div>
      )}

      { entry.journalContent.map((block) => (
        <JournalBlocks block={block} />
      ))}
    </div>
  </div>
</Layout>

<style scoped>
  .container {
    display: grid;
    align-items: start;
    gap: var(--spacing-l);
    padding-inline: var(--site-gutter);

    @media screen and (min-width: 1024px) {
      grid-template-columns: 1fr 3fr;
    }
  }

  header {
    > * + * {
      margin-block-start: var(--spacing-2xs);
    }

    @media screen and (min-width: 1024px) {
      position: sticky;
      inset-block-start: var(--spacing-l);
    }
  }

  .entry-image {
    position: relative;
    border-radius: var(--radius);
    margin-block-end: var(--spacing-l);
  }
</style>