---
import Layout from '../layouts/Layout.astro';
import { getEntry } from '../utils/craftApi';
import { HOME_PAGE_QUERY } from '../utils/queries';
import { journalEntries, journalLinks } from '../utils/data';
import LastFMTrack from '../components/LastFMTrack.astro';
import Image from '../components/CloudImage.astro';
import PostArticle from '../components/PostArticle.astro';
import LinkArticle from '../components/LinkArticle.astro';

const homeData = await getEntry(HOME_PAGE_QUERY);
const latestJournalEntries = journalEntries.slice(0, 3);
const latestJournalLinks = journalLinks.slice(0, 3);
---

<Layout title="Matt Soria | photography + web development" bodyClass="">
	<div class="px-site-gutter">
		<div class="bento-box">
			<div class="personal-meta">
				<div class="site-intro card noisy-border">
					<div class="prose-container">
						{ homeData.note && <div class="rich-text" set:html={homeData.note} /> }
					</div>
				</div>
				{ homeData.portrait && (
					<div class="site-portrait noisy-border">
						<figure>
							<Image
								url={homeData.portrait[0].url}
								width={homeData.portrait[0].width}
								height={homeData.portrait[0].height}
							/>
							{homeData.portrait[0].captionSimple && (
								<figcaption class="pill">{homeData.portrait[0].captionSimple}</figcaption>
							)}
						</figure>
					</div>
				)}
				<div class="recent-track">
					<LastFMTrack />
				</div>
			</div>
			<div class="latest-entries-container">
				{ latestJournalEntries && (
					<div class="latest-entries latest-journal-entries">
						<h2 class="text-h2">Latest Journal Entries</h2>
						<div class="latest-journal-entry-content">
							{ latestJournalEntries.map((post) =>
								<PostArticle post={post} first={false} />
							)}
						</div>
					</div>
				)}
				{ latestJournalLinks && (
					<div class="latest-entries latest-links">
						<h2 class="text-h2">Latest Links</h2>
						<ol class="links-list" role="list">
							{ latestJournalLinks.map((post) =>
								<li>
									<LinkArticle post={post} first={false} />
								</li>
							)}
						</ol>
					</div>
				)}
			</div>
		</div>
	</div>
</Layout>

<style scoped>
	.bento-box {
		display: flex;
		flex-wrap: wrap;
		gap: var(--spacing-l);
		align-items: flex-start;
		
		> * {
			flex-grow: 1;
		}
		
		@media screen and (min-width: 1024px) {
			display: grid;
			grid-template-columns: repeat(2, minmax(0, 1fr));
		}
	}

	.personal-meta {
		display: grid;
		align-items: start;
		gap: var(--spacing-l);
		grid-template-columns: minmax(0, 1fr) minmax(200px, 1.5fr);
		grid-template-areas: 
			"intro intro"
			"portrait track";
	}

	.site-intro {
		grid-area: intro;
	}

	.site-portrait {
		position: relative;

		figure {
			width: 100%;
			overflow: hidden;
			border-radius: 2em;
			aspect-ratio: 4 / 5;
			position: relative;
			corner-shape: squircle;

			&:hover {
				figcaption {
					opacity: 1;
				}
			}
		}

		figcaption {
			--color-pill-background: var(--color-background);
			z-index: 1;
			opacity: 0;
			position: absolute;
			display: inline-block;
			transition: opacity 0.2s ease-out;
			inset-block-end: var(--spacing-2xs);
			inset-inline-start: var(--spacing-2xs);
		}
	}

	.recent-track {
	}

	.latest-entries-container {
		display: flex;
		gap: var(--spacing-l);
		flex-direction: column;
	}

	.latest-entries {
		display: flex;
		gap: var(--spacing-s);
		flex-direction: column;

		li {
			width: 100%;
		}
	}
</style>