---
import { getEntry } from '../components/EntryFetch.astro';
import Smiley from '../assets/smiley.svg';
import UsFlag from '../assets/us-in-distress.svg';

type FooterLink = {
  linkField: {
    url: string;
    target: string;
    class: string;
    id: string;
    label: string;
  };
};

let footerQuery = `{
  entry(site: "personal", section: "personalFooter") {
    ... on personalFooter_Entry {
      linksIntro {
        plainText
      }
      links {
        ... on linkWithTooltip_Entry {
          linkField {
            url
            target
            class
            id
            label
            ariaLabel
          }
          tooltip {
            rawHtml
          }
          linkColor
        }
      }
    }
  }
}`;
const footer = await getEntry(footerQuery);
const links: FooterLink[] = footer.links ?? [];
---

<footer class="site-footer">
  <div>
    {footer.linksIntro && (
      <h3 class="text-h4 link-list-intro">{footer.linksIntro.plainText}</h3>
    )}
    <ul class="link-list" role="list">
      {links.map((link) => (
        <li>
          <a
            href={link.linkField.url}
            target={link.linkField.target}
            class={'pill pill--lg contrast-color ' + link.linkField.class}
            id={link.linkField.id}
            style={`--color-pill: ${link.linkColor};`}
            data-tippy-content={link.tooltip?.rawHtml}
          >
            {link.linkField.label}
            {link.linkField.target === '_blank' && (
              <>
                <span class="visually-hidden">.</span>
                <span aria-label="Opens in new tab.">↗</span>
              </>
            )}
          </a>
        </li>
      ))}
    </ul>
  </div>
  <div class="flex items-center justify-center gap-s mt-l">
   <Smiley />
   <UsFlag />
  </div>
  <div class="text-center text-label mt-l grid gap-3xs">
   <p>© {new Date().getFullYear()} Matt Soria</p>
   <p>This site does not use cookies or track you in any way.✌️</p>
  </div>
 </div>
</footer>

<style scoped>
	.site-footer {
    text-align: center;
		margin-block-start: var(--spacing-3xl);
		padding: var(--spacing-3xl) var(--spacing-l);
	}

  .link-list-intro {
    text-align: center;
  }

  .link-list {
    display: flex;
    flex-wrap: wrap;
    margin-inline: auto;
    text-wrap: balance;
    justify-content: center;
    max-width: var(--prose-max-width);
    
    li {
      display: inline-block;
      margin-block-start: var(--spacing-xs);

      + li {
        margin-inline-start: var(--spacing-xs);
      }
    }
  }

	.smiley, .us-flag{
		width: var(--spacing-l);
	}
</style>
