---
import Image from '../components/CloudImage.astro';

const { block } = Astro.props;
---

{ block.typeHandle === 'journalImage' && (
  <figure class="journal-block journal-block--image">
    { block.journalImage && (
      <Image
        url={block.journalImage[0].url}
        width={block.journalImage[0].width}
        height={block.journalImage[0].height}
        focalPoint={block.journalImage[0].focalPoint}
      />
    )}
    { block.journalImage[0].captionSimple && (
      <figcaption class="text-label">{block.journalImage[0].captionSimple}</figcaption>
    )}
  </figure>
)}

{ block.typeHandle === 'textSection' && (
  <div class="journal-block journal-block--text-section">
    <div set:html={block.richText} class="rich-text"></div>
  </div>
)}

{ block.typeHandle === 'embed' && (
  <div class="journal-block journal-block--embed">
    <div set:html={block.embed}></div>
  </div>
)}

<style scoped>
  .journal-block + .journal-block {
    margin-block-start: var(--spacing-l);
  }

  .journal-block--text-section {
    max-width: var(--prose-max-width);
  }

  .journal-block--image {
    .image-wrapper {
      border-radius: var(--radius-sm);
    }

    figcaption {
      margin-block-start: var(--spacing-2xs);
    }
  }
</style>