---
import Image from '../components/CloudImage.astro';

const { block } = Astro.props;
---

{ block.typeHandle === 'image' && (
  <figure class="journal-block journal-block--image">
    { block.image && (
      <Image
        url={block.image[0].url}
        width={block.image[0].width}
        height={block.image[0].height}
        focalPoint={block.image[0].focalPoint}
      />
    )}
  </figure>
)}

{ block.typeHandle === 'textSection' && (
  <div class="journal-block journal-block--text-section">
    <div set:html={block.richText} class="rich-text"></div>
  </div>
)}

{ block.typeHandle === 'embed' && (
  <div class="journal-block journal-block--embed">
    <div set:html={block.embed}></div>
  </div>
)}

<style scoped>
  .journal-block + .journal-block {
    margin-block-start: var(--spacing-l);
  }

  .journal-block--text-section {
    max-width: var(--prose-max-width);
  }
</style>