---
import Layout from '../layouts/Layout.astro';
import PostArticle from '../components/PostArticle.astro';
import LinkArticle from '../components/LinkArticle.astro';

const { title, description, posts, type } = Astro.props;

// group posts by year, and sort by year descending
const postsByYear = posts.reduce((acc, post) => {
  const dateObject = new Date(post.postDate);
  const year = dateObject.getFullYear();
  if (!acc[year]) {
    acc[year] = [];
  }
  acc[year].push(post);
  return acc;
}, {});
---

<Layout title={title} bodyClass="">
  <div class="px-site-gutter layout">
    <header class="card noisy-border">
      <h1 class="text-h1">{title}</h1>
      <p>{description}</p>
    </header>

    <ol class="posts-list" role="list">
      { Object.entries(postsByYear).sort((a, b) => b[0] - a[0]).map(([year, posts]) =>
        <li key={year}>
          <h2 class="year text-h2">{year}</h2>
          <ol role="list">
            { posts.map((post, index) =>
              <li key={post.id}>
                { type === 'post' ? <PostArticle post={post} first={index === 0} /> : <LinkArticle post={post} first={index === 0} /> }
              </li>
            )}
          </ol>
        </li>
      )}
    </ol>
  </div>
</Layout>

<style scoped>
	header {
    @media screen and (min-width: 1024px) {
      position: sticky;
      top: var(--site-gutter);
    }
  }

  .layout {
    display: grid;
    align-items: baseline;
    gap: var(--spacing-l);
    grid-template-areas: 
      "intro"
      "posts";

    @media screen and (min-width: 1024px) {
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas: 
        "intro posts posts";
    }
  }
  
  .posts-list {
    margin: 0;
    padding: 0;
    display: grid;
    grid-area: posts;
    list-style-type: none;

    h2 {
      margin-block-end: var(--spacing-s);
    }

    > li + li {
      margin-block-start: var(--spacing-l);
    }
  }
</style>