---
import Layout from '../layouts/Layout.astro';
import PostArticle from '../components/PostArticle.astro';
import LinkArticle from '../components/LinkArticle.astro';

const { title, description, posts, type } = Astro.props;

// group posts by year, and sort by year descending
const postsByYear = posts.reduce((acc, post) => {
  const dateObject = new Date(post.postDate);
  const year = dateObject.getFullYear();
  if (!acc[year]) {
    acc[year] = [];
  }
  acc[year].push(post);
  return acc;
}, {});
---

<Layout title={title} bodyClass="">
  <div class="px-site-gutter layout">
    <header>
      <h1 class="text-h1">{title}</h1>
      <div class="card noisy-border">
        <p>{description}</p>
      </div>
    </header>

    <ol class="posts-list" role="list">
      { Object.entries(postsByYear).sort((a, b) => b[0] - a[0]).map(([year, posts]) =>
        <li key={year}>
          <div class="year">
            <h2 class="text-h2">{year}</h2>
            <div class="text-label">({posts.length})</div>
          </div>
          <ol role="list">
            { posts.map((post, index) =>
              <li key={post.id}>
                { type === 'post' ? <PostArticle post={post} first={index === 0} /> : <LinkArticle post={post} first={index === 0} /> }
              </li>
            )}
          </ol>
        </li>
      )}
    </ol>
  </div>
</Layout>

<style scoped>
	header {
    display: flex;
    gap: var(--spacing-m);
    flex-direction: column;

    @media screen and (min-width: 1024px) {
      position: sticky;
      top: var(--site-gutter);
      &::before {
        content: '';
        z-index: -1;
        inset: -0.5rem;
        position: absolute;
        background-color: var(--color-background);
      }
    }
  }

  .layout {
    display: grid;
    align-items: baseline;
    gap: var(--spacing-l);
    grid-template-areas: 
      "intro"
      "posts";

    @media screen and (min-width: 1024px) {
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas: 
        "intro posts posts";
    }
  }
  
  .posts-list {
    margin: 0;
    padding: 0;
    display: grid;
    grid-area: posts;
    list-style-type: none;

    .year {
      z-index: 1;
      display: flex;
      align-items: top;
      position: relative;
      gap: var(--spacing-3xs);
      background-color: var(--color-background);
      border-bottom: var(--color-border) 1px solid;
      padding-block: calc(var(--spacing-s) + var(--site-gutter)) var(--spacing-s);

      @media screen and (min-width: 1024px) {
        top: 0;
        position: sticky;
      }
    }

    article.-first {
      border-top: none;
    }

    > li + li {
      margin-block-start: var(--spacing-l);
    }
  }
</style>