---
import Layout from '../layouts/Layout.astro';
import PostArticle from '../components/PostArticle.astro';
import LinkArticle from '../components/LinkArticle.astro';

const { title, description, posts, type } = Astro.props;
---

<Layout title={title} bodyClass="">
  <div class="px-site-gutter layout">
    <header class="card noisy-border">
      <h1 class="text-h1">{title}</h1>
      <p>{description}</p>
    </header>

    <ol class="posts-list" role="list">
      { posts.map((post, index) =>
        <li>
          { type === 'post' ? <PostArticle post={post} first={index === 0} /> : <LinkArticle post={post} first={index === 0} /> }
        </li>
      )}
    </ol>
  </div>
</Layout>

<style scoped>
	header {
    @media screen and (min-width: 1024px) {
      position: sticky;
      top: var(--site-gutter);
    }
  }

  .layout {
    display: grid;
    align-items: baseline;
    gap: var(--spacing-l);
    grid-template-areas: 
      "intro"
      "posts";

    @media screen and (min-width: 1024px) {
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas: 
        "intro posts posts";
    }
  }
  
  .posts-list {
    margin: 0;
    padding: 0;
    display: grid;
    grid-area: posts;
    list-style-type: none;
  }
</style>